<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result | Photo Forensics</title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="/css/compiled-4.7.1.min.css?ver=4.7.1" />
    <!-- File Upload -->
    <link rel="stylesheet" href="/css/file.upload.css" />
    <!-- Custom Styles -->
    <link rel="stylesheet" href="/css/custom.styles.css" />
</head>

<body>

    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <!-- Card Start -->
                <div class="card animated bounceInDown z-depth-5 cloudy-knoxville-gradient">
                    <div class="card-body animated shake delay-1s">
                        <!-- Card Header -->
                        <div class="form-header blue-gradient">
                            <h3><i class="far fa-image"></i> Result</h3>
                        </div>
                        <!-- Card Body -->
                        <div class="form-md border text-center">
                            <h4><%= result%></h4>
                        </div>
                    </div>
                    <!-- Card End -->
                </div>
            </div>
        </div>
    </div>




    <!-- JavaScripts -->
    <!-- JQuery -->
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="/js/mdb.min.js"></script>

</body>

</html>